body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #111;
  color: white;
}

/* Cover */
.cover {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: url('assets/img/door.png') center/cover no-repeat;
  z-index: 9999;
  overflow: hidden;
}

.cover-content button,
.cover-content h1, 
.cover-content p {
  color: #fff;
  text-shadow: 0 2px 6px rgba(0,0,0,0.8);
  position: relative;
  z-index: 2;
}

.door {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  transition: transform 1.5s ease-in-out;
  z-index: 1;
}

.left-door { left: 0; transform-origin: left; }
.right-door { right: 0; transform-origin: right; }

.cover.opened .left-door { transform: rotateY(-100deg); }
.cover.opened .right-door { transform: rotateY(100deg); }

.cover.hidden { display: none; }

.invitation {
  display: none;
}
